# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments (CRITICAL)
venv/
env/
.venv/
rfdetr25/
Lib/
Scripts/
Include/
pyvenv.cfg

# =====================
# ML / DL
# =====================
data/
datasets/
*.pt
*.pth
*.onnx
runs/
checkpoints/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
